# Tokenization / data
tiktoken
transformers>=4.45.2
datasets
zstandard

# Training utilities
tqdm
schedulefree
scipy

# Logging
wandb

# SOLO
# (!) depends on the torch version: https://github.com/pytorch/ao/issues/2919
torchao