# Tokenization / data
tiktoken
transformers>=4.45.2
datasets
huggingface_hub
zstandard

# Training utilities
tqdm
schedulefree
scipy
ai2-olmo-eval==0.8.5

# Logging
wandb

# SOLO
# (!) depends on the torch version: https://github.com/pytorch/ao/issues/2919
torchao

# part of muon-lite; could be remove in the future
loguru

bitsandbytes